name: Lint - GitHub Actions

on:
  pull_request:
    paths:

      - ".github/workflows/**"
  push:
    branches: [ main, master ]

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Download actionlint
        run: |
          set -e
          curl -sSLo download-actionlint.bash https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash
          bash download-actionlint.bash

      - name: Run actionlint
        run: |
          ./actionlint -no-color -format github .github/workflows || true

